<%- include("../header.ejs") %>
<style>
  .signup {
    text-align: center;
    padding:0rem 22rem;
    margin:3rem;
    
  }
  input{
    width: 20%;
  }
 
  </style>
  <div class="signup">
<h1>SignUp</h1>
<form action="/users/register", method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Steve Jobs">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="apple@gmail.com">
    </div>
  
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="secret">
    </div>

    <button type="submit" class="btn btn-primary">SignUp</button>
    <a href="/blogs" class="btn btn-outline-secondary">Back</a>
  </form>
</div>