<%- include("./header.ejs") %>
<div class="jumbotron">
  <h1 class="display-4">Welcomes to Blogs.io</h1>
  <p class="lead">Blogs.io is peer-to-peer platform to share, create and influence through art of blogging. Because we believe in sharing the knowledge of life</p>
  <hr class="my-4">
  <p>We use machine learning models and artifical intelligence to recommend and advocate thoughts, ideas and sentiments.</p>
  <p class="lead">
    <a class="btn btn-primary mx-auto" href="#" role="button" style="margin-left: auto">Learn more</a>
  </p>
</div>